@model MvcProjectWmp101.Models.Persons
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p>
    <h3>Are you sure you want to delete this record</h3>
</p>
<br />  

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@Model.Name</td>
            <td>@Model.SurName</td>
            <td>@Model.Age</td>
        </tr>
        
    </tbody>
</table>

@using (Html.BeginForm())
{
    <div class="input-group mb-3">
        <input type="submit" value="Deleted" class="btn btn-success" />
    </div>
}

