@using MvcProjectWmp101.Models
@model MvcProjectWmp101.ViewModel.ClsAddViewModel
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Index</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.ActionLink("Add Class", "NewClass", "Classes", null, new { @class = "btn btn-primary" })
            </div>
            <br />
            <br />
            <ul class="list-group">
                <li class="list-group-item active>
                    <i class="bi bi-info" style="color:red"> </i> Classes
                </li>
                @foreach (var cls in Model.Classes)
                {
                    <li class="list-group-item">
                        <i class="bi bi-people" style="color:red;">  </i> @(cls.ClassName)
                    </li>
                }

            </ul>
        </div>
        <div class="col-md-6">
            <div>
                @Html.ActionLink("Add Student", "Index", "Student", null, new { @class = "btn btn-primary" })
            </div>
            <br />
            <br />
            <ul class="list-group">
                <li class="list-group-item active>
                    <i class="bi bi-house" style="color:red"> </i> Students
                </li>
                @foreach (var stu in Model.Students)
                {
                    <li class="list-group-item">
                        <i class="bi bi-house" style="color:red;">  </i> @(stu.Name +" "+stu.Surname+" "+stu.StudentNumber) 
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

